.icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 18px;
  height: 18px;

  &-window {
    width: 20px;
    height: 15px;
    background-image: url("@/assets/icons/window-95.png");
  }

  &-document {
    background-image: url("@/assets/icons/document.png");
  }

  &-biography {
    background-image: url("@/assets/icons/biography.png");
  }

  &-folder {
    background-image: url("@/assets/icons/folder.png");
  }

  &-file {
    background-image: url("@/assets/icons/file.png");
  }

  &-file-internet {
    background-image: url("@/assets/icons/file-internet.png");
  }

  &-file-find {
    background-image: url("@/assets/icons/file-find.png");
  }
}
